API_HOST=api
API_PORT=8001
API_PROJECT_NAME=movies_api
API_CACHE_EXPIRES_SECONDS=60
API_LOGGING_LEVEL=20

AUTH_HOST=auth
AUTH_PORT=8002
AUTH_PROJECT_NAME=movies_auth
AUTH_CACHE_EXPIRES_SECONDS=60
AUTH_LOGGING_LEVEL=20
AUTH_DB_SCHEMA=auth
AUTH_ADMIN_EMAIL=admin@movies.co
AUTH_ADMIN_PASSWORD=hackmetoo

ETL_STATE_STORAGE_NAME=state.json
ETL_LOG_FILENAME=logging.log
ETL_LOGGING_LEVEL=20

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=movies_database
POSTGRES_USER=app
POSTGRES_PASSWORD=hackme
POSTGRES_DRIVER=psycopg

REDIS_HOST=redis
REDIS_PORT=6379

ELASTIC_HOST=elasticsearch
ELASTIC_PORT=9200

LOG_LEVEL=INFO

AUTH_TOKEN_EXPIRE_MINUTES=20
REFRESH_TOKEN_EXPIRE_MINUTES=180
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=jwtsecretexample