/media/*
/assets/*
*.DS_Store
*__pycache__
.env
poetry.lock
venv/
.idea/
/etl/storage.json
/etl/logging.log
logging.*
*.log
.pytest_cache
.vscode/
storage.*
report.md
*esdata/
/performance_tests/test_data/Eartquakes-1990-2023.csv