fastapi==0.104.1
pydantic-settings==2.0.3
uvicorn==0.22.0
gunicorn==20.1.0
orjson==3.9.1
python-dotenv==1.0.0
sentry-sdk[fastapi]==1.31.0
python-logstash==0.4.8
loguru==0.7.2
stackprinter==0.2.10
opentelemetry-api==1.19.0
opentelemetry-sdk==1.19.0
opentelemetry-instrumentation-fastapi==0.40b0
opentelemetry-exporter-jaeger==1.19.0
SQLAlchemy==2.0.19
psycopg==3.1.9
psycopg-binary==3.1.9
alembic==1.11.1
python-multipart==0.0.6
httpx==0.25.0
minio==7.1.17
python-jose==3.3.0
pydantic-extra-types==2.1.0
phonenumbers==8.13.24